<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Books</h1>
    <% if (!userId) { %>
        <p>Sorry, you cannot access library without login into the system.</p>
    <% } else { %>
        <ul>
            <% books.forEach(function(book) { %>
                <li>
                    <a href="/books/<%= book.id %>"><%= book.title %></a>
                    &nbsp;by <%= book.author %>
                </li>
            <% }); %>
        </ul>
    <% } %>
    <%- include('partials/login.ejs') %>
</body>

</html>
